body {
  text-align: center;
  margin-top: 100px;
}

.calculator__main {
  width: 30%;
  background-color: grey;
  margin: 0 auto;
  padding: 15px;
  border-radius:5px;
}

.tela__container {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  text-align: right;
  background-color: whitesmoke;
  margin-bottom: 20px;
  border-radius:5px;

}
.numbers__operators {
  display: flex;
  flex-direction: row;
}

.button {
  width: 100px;
  height: 45px;
  border-radius:5px;
}

.button:hover {
  box-shadow: 0 5px 5px;
}

.numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
}

.operand {
  display: flex;
  flex-direction: column;
}